---
import ThumbUp from '@src/icons/ThumbUp.astro'
import type { Result as TvShow } from '@src/types/trending-tv'

interface Props {
    tvShow: TvShow
}

const tvShow = Astro.props.tvShow
---

<article class="flex flex-col gap-4 w-full">
    <img 
        class="w-full aspect-[2/3] object-cover rounded-lg"
        src={`http://image.tmdb.org/t/p/w342/${tvShow.poster_path}`} 
        alt={`Poster for ${tvShow.name}`} />
    <div class="flex justify-between gap-2">
        <span class="font-semibold line-clamp-1">{tvShow.name}</span>
        <span class="font-medium text-cyan-600">{tvShow.first_air_date.substring(0,4)}</span>
    </div>
    <div class="flex justify-between items-center">
        <span class="uppercase text-xs font-bold border-[2px] border-white text-cyan-600 px-2">{tvShow.original_language}</span>
        <span class="text-cyan-600 flex items-center gap-2">
            <ThumbUp />
            <span class="text-xs text-white font-medium">{tvShow.vote_average.toFixed(2)}</span>
        </span>
    </div>
</article>